<% if notice %>
  <p class="alert alert-success alert-fade alert-dismissible text-center col-12 fixed-top">
    <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
    <%= notice %>
  </p>
<% end %>
<% if alert %>
  <p class="alert alert-danger alert-fade alert-dismissible text-center col-12 fixed-top">
    <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
    <%= alert %>
  </p>
<% end %>