<!-- Page Heading -->
<div class="row pb-4 border-bottom ml-xl-1">
  <div class="col-sm-6 col-md-6 col-xl-6">
    <h4 class="h mb-0 text-gray-800"><%= heading %></h4>
  </div>
  <div class="col-sm-4 col-md-6 col-xl-6 offset-md-0 offset-sm-2 pl-xl-5 ">
    <nav aria-label="breadcrumb" class="d-none d-md-block">
      <ol class="breadcrumb">
        <%= render_breadcrumbs separator: '/'%>
      </ol>
    </nav>
  </div>
</div>